.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit';
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 16px;
}

.card {
    background-color: white;
    border-radius: 16px;
    padding: 16px;
    text-align: center;
    max-width: 320px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card h1 {
    font-size: 1.25rem;
    color: hsl(186, 83%, 35%);
    margin: 16px 0;
}

.card p {
    font-size: 1rem;
    color: hsl(216, 7%, 57%);
}
